extends layout

block content
  .w3-container
    h1 Gestão de Alunos
    ul.w3-ul
      li  
        a(href="http://localhost:3004/pubs") Listar Alunos
      li  
        a(href="http://localhost:3004/alunos/inserir") Inserir Aluno

